ul {
    text-align: center;
    list-style-type: none;
    padding: 0%;
    padding-top: 5em;
    padding-inline-start: 0px;
}

ul>li {
    padding: 0%;
}

a {
    text-decoration: none;
}

td {
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.nav-panel {
    display: flex;
    justify-content: space-between;
}

.center {
    display: block;
    width: fit-content;
    padding: 3em;
    margin-left: auto;
    margin-right: auto;
}