:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding-left: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
}

nav {
    display: flex;
}

li {
    margin-bottom: 1em;
}

.nav-description {
    font-size: 20px;
    font-weight: bold;
}

.nav-button-link,
.button-link {
    display: block;
    padding: 1em;
    margin: 0 auto;
    color: white;
    text-align: center;
    text-decoration: none;
}

.button-link {
    border-radius: 1em;
    background-color: black;
}

.button-link + .button-link {
    margin-top: 1em;
}

.nav-button-link:hover {
    background-color: #5e5d60;
}

.button-link:hover {
    color: white;
    background-color: #5e5d60;
}

main {
    margin: 10em auto;
    width: 50%;
}

.button-list {
    width: 30%;
    margin: 2em auto;
    list-style: none;
    padding-inline-start: 0;
}

.player-name-input {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;
    border-width: 1px;
    border-radius: 1em;
}

table {
    line-height: 3em;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

td:first-child {
    border-top-left-radius: 1em;
}

td:last-child {
    border-top-right-radius: 1em;
}

td {
    padding: .5em;
}

thead {
    color: white;
    background-color: black;
    font-weight: bold;
}

tr {
    border-color: black;
    border-bottom: 1px;
}