:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding-left: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
}

nav {
    display: flex;
}

li {
    margin-bottom: 1em;
}

.nav-description {
    font-size: 20px;
    font-weight: bold;
}

.nav-button-link,
.button-link {
    display: block;
    padding: 1em;
    margin: 0 auto;
    color: white;
    text-align: center;
    text-decoration: none;
}

.button-link {
    border-radius: 1em;
    background-color: black;
}

.button-link + .button-link {
    margin-top: 1em;
}

.nav-button-link:hover {
    background-color: #5e5d60;
}

.button-link:hover {
    color: white;
    background-color: #5e5d60;
}

button {
    font-size: 14px;
    padding-block: 0;
    padding-inline: 0;
    border-style: none;
    border-color: black;
}

main {
    margin: 10em auto;
    width: 50%;
}

.button-list {
    width: 30%;
    margin: 2em auto;
    list-style: none;
    padding-inline-start: 0;
}

.player-name-input {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;
    border-width: 1px;
    border-radius: 1em;
}

table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    padding: 1em;
}

td:first-child {
    border-top-left-radius: 1em;
}

td:last-child {
    border-top-right-radius: 1em;
}

thead {
    color: white;
    background-color: black;
    font-weight: bold;
}

tr {
    border-color: black;
    border-bottom: 1px;
}

.table-caption {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    justify-content: space-between;
    align-items: center;
}

.table-caption h1 {
    margin: 0;
}

.table-caption form {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.player-name-input,
.table-caption button {
    padding: 8px 12px;
}

section form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.pagination {
    width: 30%;
    margin: 2em auto;
    color: black;
    text-align: center;
}

.pagination a {
    color: black;
    padding: 0.5em;
    text-decoration: none;
}

.pagination a:visited {
    color: black;
}

.pagination a:hover {
    color: white;
    border-radius: 0.5em;
    background-color: #5e5d60;
}

.pagination a.current-page {
    color: white;
}

.current-page {
    border-radius: 0.5em;
    background-color: black;
}